# comment
    */temp*
    */*/temp*
    # Exclude files and directories in the root directory whose names are a one-character
    # extension of temp. For example, /tempa and /tempb are excluded.
    temp?
